<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaocui.dao.facade.SearchResultMapper" >
  <resultMap id="BaseResultMap" type="com.xiaocui.dao.model.SearchResult" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="SEARCH_LOG_ID" property="searchLogId" jdbcType="DECIMAL" />
    <result column="SEARCH_TRX_NO" property="searchTrxNo" jdbcType="VARCHAR" />
    <result column="REQ_COMPANY_ID" property="reqCompanyId" jdbcType="DECIMAL" />
    <result column="REQ_COMPANY_CODE" property="reqCompanyCode" jdbcType="VARCHAR" />
    <result column="RSP_COMPANY_ID" property="rspCompanyId" jdbcType="DECIMAL" />
    <result column="RSP_COMPANY_CODE" property="rspCompanyCode" jdbcType="VARCHAR" />
    <result column="BORROW_TYPE" property="borrowType" jdbcType="SMALLINT" />
    <result column="BORROW_STATE" property="borrowState" jdbcType="SMALLINT" />
    <result column="BORROW_AMOUNT" property="borrowAmount" jdbcType="SMALLINT" />
    <result column="CONTRACT_DATE" property="contractDate" jdbcType="DECIMAL" />
    <result column="LOAN_PERIOD" property="loanPeriod" jdbcType="SMALLINT" />
    <result column="REPAY_STATE" property="repayState" jdbcType="SMALLINT" />
    <result column="ARREARS_AMOUNT" property="arrearsAmount" jdbcType="DECIMAL" />
    <result column="REC_TIME" property="recTime" jdbcType="DECIMAL" />
    <result column="RESULT_TYPE" property="resultType" jdbcType="SMALLINT" />
    <result column="DATA_TYPE" property="dataType" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID,
    SEARCH_LOG_ID,
    SEARCH_TRX_NO,
    REQ_COMPANY_ID,
    REQ_COMPANY_CODE,
    RSP_COMPANY_ID,
    RSP_COMPANY_CODE,
    BORROW_TYPE,
    BORROW_STATE,
    BORROW_AMOUNT,
    CONTRACT_DATE,
    LOAN_PERIOD,
    REPAY_STATE,
    ARREARS_AMOUNT,
    REC_TIME,
    RESULT_TYPE,
    DATA_TYPE
  </sql>
  <sql id= "TABLE_SEQ">
    SEARCH_RESULT_ID_SEQUENCE.NEXTVAL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM SEARCH_RESULT
    WHERE ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id= "selectList" resultMap ="BaseResultMap" parameterType= "java.util.Map" >
		SELECT
		<include refid ="Base_Column_List" />
		 FROM ( SELECT t.*,rownum r FROM
		( SELECT * FROM SEARCH_RESULT 
			<if test ="condition != null">
			WHERE ${condition}
			</if >
			<if test ="orderBy != null">
					ORDER BY ${orderBy}
			</if >
		) t ) WHERE 1=1
			<if test ="start != null">
					AND r &gt; ${start}
			</if >
			<if test ="end != null">
					AND r &lt;= ${end}
			</if >
	</select>
  	<select id= "selectOne" resultMap ="BaseResultMap" parameterType= "java.util.Map" >
		SELECT
		<include refid ="Base_Column_List" />
		  FROM SEARCH_RESULT  
			<if test ="_parameter != null">
			WHERE ${_parameter} AND rownum = 1
			</if >
	</select>
    <select id= "selectCount" resultType ="java.lang.Long" parameterType= "java.lang.String" >
		SELECT
			COUNT(ID)
		 FROM SEARCH_RESULT 
		 <if test ="_parameter != null">
			WHERE ${_parameter}
		 </if >
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    DELETE FROM SEARCH_RESULT
    WHERE ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByCondition" parameterType="java.lang.String" >
    DELETE  FROM SEARCH_RESULT
    WHERE ${_parameter}
  </delete>
  <insert id="insert" parameterType="com.xiaocui.dao.facade.SearchResultMapper" >
    <selectKey keyProperty= "id" resultType ="java.lang.Long" order= "BEFORE">
        SELECT <include refid ="TABLE_SEQ" /> FROM dual
    </selectKey>
    INSERT INTO SEARCH_RESULT (
        ID,
        SEARCH_LOG_ID,
        SEARCH_TRX_NO,
        REQ_COMPANY_ID,
        REQ_COMPANY_CODE,
        RSP_COMPANY_ID,
        RSP_COMPANY_CODE,
        BORROW_TYPE,
        BORROW_STATE,
        BORROW_AMOUNT,
        CONTRACT_DATE,
        LOAN_PERIOD,
        REPAY_STATE,
        ARREARS_AMOUNT,
        REC_TIME,
        RESULT_TYPE,
        DATA_TYPE
      )
    VALUES (
        #{id,jdbcType=DECIMAL},
        #{searchLogId,jdbcType=DECIMAL},
        #{searchTrxNo,jdbcType=VARCHAR},
        #{reqCompanyId,jdbcType=DECIMAL},
        #{reqCompanyCode,jdbcType=VARCHAR},
        #{rspCompanyId,jdbcType=DECIMAL},
        #{rspCompanyCode,jdbcType=VARCHAR},
        #{borrowType,jdbcType=SMALLINT},
        #{borrowState,jdbcType=SMALLINT},
        #{borrowAmount,jdbcType=SMALLINT},
        #{contractDate,jdbcType=DECIMAL},
        #{loanPeriod,jdbcType=SMALLINT},
        #{repayState,jdbcType=SMALLINT},
        #{arrearsAmount,jdbcType=DECIMAL},
        #{recTime,jdbcType=DECIMAL},
        #{resultType,jdbcType=SMALLINT},
        #{dataType,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaocui.dao.facade.SearchResultMapper" >
    <selectKey keyProperty= "id" resultType ="java.lang.Long" order= "BEFORE">
        SELECT <include refid ="TABLE_SEQ" /> from dual
    </selectKey>
    INSERT INTO SEARCH_RESULT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="searchLogId != null" >
        SEARCH_LOG_ID,
      </if>
      <if test="searchTrxNo != null" >
        SEARCH_TRX_NO,
      </if>
      <if test="reqCompanyId != null" >
        REQ_COMPANY_ID,
      </if>
      <if test="reqCompanyCode != null" >
        REQ_COMPANY_CODE,
      </if>
      <if test="rspCompanyId != null" >
        RSP_COMPANY_ID,
      </if>
      <if test="rspCompanyCode != null" >
        RSP_COMPANY_CODE,
      </if>
      <if test="borrowType != null" >
        BORROW_TYPE,
      </if>
      <if test="borrowState != null" >
        BORROW_STATE,
      </if>
      <if test="borrowAmount != null" >
        BORROW_AMOUNT,
      </if>
      <if test="contractDate != null" >
        CONTRACT_DATE,
      </if>
      <if test="loanPeriod != null" >
        LOAN_PERIOD,
      </if>
      <if test="repayState != null" >
        REPAY_STATE,
      </if>
      <if test="arrearsAmount != null" >
        ARREARS_AMOUNT,
      </if>
      <if test="recTime != null" >
        REC_TIME,
      </if>
      <if test="resultType != null" >
        RESULT_TYPE,
      </if>
      <if test="dataType != null" >
        DATA_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="searchLogId != null" >
        #{searchLogId,jdbcType=DECIMAL},
      </if>
      <if test="searchTrxNo != null" >
        #{searchTrxNo,jdbcType=VARCHAR},
      </if>
      <if test="reqCompanyId != null" >
        #{reqCompanyId,jdbcType=DECIMAL},
      </if>
      <if test="reqCompanyCode != null" >
        #{reqCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="rspCompanyId != null" >
        #{rspCompanyId,jdbcType=DECIMAL},
      </if>
      <if test="rspCompanyCode != null" >
        #{rspCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="borrowType != null" >
        #{borrowType,jdbcType=SMALLINT},
      </if>
      <if test="borrowState != null" >
        #{borrowState,jdbcType=SMALLINT},
      </if>
      <if test="borrowAmount != null" >
        #{borrowAmount,jdbcType=SMALLINT},
      </if>
      <if test="contractDate != null" >
        #{contractDate,jdbcType=DECIMAL},
      </if>
      <if test="loanPeriod != null" >
        #{loanPeriod,jdbcType=SMALLINT},
      </if>
      <if test="repayState != null" >
        #{repayState,jdbcType=SMALLINT},
      </if>
      <if test="arrearsAmount != null" >
        #{arrearsAmount,jdbcType=DECIMAL},
      </if>
      <if test="recTime != null" >
        #{recTime,jdbcType=DECIMAL},
      </if>
      <if test="resultType != null" >
        #{resultType,jdbcType=SMALLINT},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaocui.dao.facade.SearchResultMapper" >
    UPDATE SEARCH_RESULT
    <set>
      <if test="id != null" >
        ID = #{id,jdbcType=DECIMAL},
      </if>
      <if test="searchLogId != null" >
        SEARCH_LOG_ID = #{searchLogId,jdbcType=DECIMAL},
      </if>
      <if test="searchTrxNo != null" >
        SEARCH_TRX_NO = #{searchTrxNo,jdbcType=VARCHAR},
      </if>
      <if test="reqCompanyId != null" >
        REQ_COMPANY_ID = #{reqCompanyId,jdbcType=DECIMAL},
      </if>
      <if test="reqCompanyCode != null" >
        REQ_COMPANY_CODE = #{reqCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="rspCompanyId != null" >
        RSP_COMPANY_ID = #{rspCompanyId,jdbcType=DECIMAL},
      </if>
      <if test="rspCompanyCode != null" >
        RSP_COMPANY_CODE = #{rspCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="borrowType != null" >
        BORROW_TYPE = #{borrowType,jdbcType=SMALLINT},
      </if>
      <if test="borrowState != null" >
        BORROW_STATE = #{borrowState,jdbcType=SMALLINT},
      </if>
      <if test="borrowAmount != null" >
        BORROW_AMOUNT = #{borrowAmount,jdbcType=SMALLINT},
      </if>
      <if test="contractDate != null" >
        CONTRACT_DATE = #{contractDate,jdbcType=DECIMAL},
      </if>
      <if test="loanPeriod != null" >
        LOAN_PERIOD = #{loanPeriod,jdbcType=SMALLINT},
      </if>
      <if test="repayState != null" >
        REPAY_STATE = #{repayState,jdbcType=SMALLINT},
      </if>
      <if test="arrearsAmount != null" >
        ARREARS_AMOUNT = #{arrearsAmount,jdbcType=DECIMAL},
      </if>
      <if test="recTime != null" >
        REC_TIME = #{recTime,jdbcType=DECIMAL},
      </if>
      <if test="resultType != null" >
        RESULT_TYPE = #{resultType,jdbcType=SMALLINT},
      </if>
      <if test="dataType != null" >
        DATA_TYPE = #{dataType,jdbcType=SMALLINT}
      </if>
    </set>
    WHERE ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaocui.dao.facade.SearchResultMapper" >
    UPDATE SEARCH_RESULT 
    <set>
      <if test="searchLogId != null" >
        SEARCH_LOG_ID = #{searchLogId,jdbcType=DECIMAL},
      </if>
      <if test="searchTrxNo != null" >
        SEARCH_TRX_NO = #{searchTrxNo,jdbcType=VARCHAR},
      </if>
      <if test="reqCompanyId != null" >
        REQ_COMPANY_ID = #{reqCompanyId,jdbcType=DECIMAL},
      </if>
      <if test="reqCompanyCode != null" >
        REQ_COMPANY_CODE = #{reqCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="rspCompanyId != null" >
        RSP_COMPANY_ID = #{rspCompanyId,jdbcType=DECIMAL},
      </if>
      <if test="rspCompanyCode != null" >
        RSP_COMPANY_CODE = #{rspCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="borrowType != null" >
        BORROW_TYPE = #{borrowType,jdbcType=SMALLINT},
      </if>
      <if test="borrowState != null" >
        BORROW_STATE = #{borrowState,jdbcType=SMALLINT},
      </if>
      <if test="borrowAmount != null" >
        BORROW_AMOUNT = #{borrowAmount,jdbcType=SMALLINT},
      </if>
      <if test="contractDate != null" >
        CONTRACT_DATE = #{contractDate,jdbcType=DECIMAL},
      </if>
      <if test="loanPeriod != null" >
        LOAN_PERIOD = #{loanPeriod,jdbcType=SMALLINT},
      </if>
      <if test="repayState != null" >
        REPAY_STATE = #{repayState,jdbcType=SMALLINT},
      </if>
      <if test="arrearsAmount != null" >
        ARREARS_AMOUNT = #{arrearsAmount,jdbcType=DECIMAL},
      </if>
      <if test="recTime != null" >
        REC_TIME = #{recTime,jdbcType=DECIMAL},
      </if>
      <if test="resultType != null" >
        RESULT_TYPE = #{resultType,jdbcType=SMALLINT},
      </if>
      <if test="dataType != null" >
        DATA_TYPE = #{dataType,jdbcType=SMALLINT}
      </if>
      </set>
    WHERE ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByCondition"  parameterType="java.util.Map" >
    UPDATE SEARCH_RESULT SET 
       <if test="set != null">
       	${set}
       </if>
    WHERE 
		<if test="condition != null">
			${condition}
		</if>
  </update>
</mapper>
